<nav class="navbar navbar-expand-lg bg-body-tertiary" style="height: 70px">
    <div class="container-fluid">
        <a class="navbar-brand" routerLink="">portfolio-case</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
                aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="#">Features</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Pricing</a>
                </li>
            </ul>
            @if (authService.isAuthenticated()) {
                <a class="navbar-text nav-link" routerLink="/identities/by-id" [queryParams]="{identityId: authService.authenticatedUser()?.id}"
                   style="margin-right: 15px">
                    <app-image-thumbnail [imageId]="authService.authenticatedUser()?.image?.id"></app-image-thumbnail>
                </a>
                <a class="navbar-text nav-link" (click)="onLogout()" style="cursor: pointer">Выйти</a>
            } @else {
                <a class="navbar-text nav-link" routerLink="/login">Войти</a>
            }
        </div>
    </div>
</nav>
