<div class="card">
    <div class="card-header">Описание</div>
    <div class="card-body">
        <figure>
            <blockquote class="blockquote">
                <p>portfolio-case — это инструмент или формат демонстрации профессиональных работ,
                    где проект показывается не просто как картинка,
                    а как готовая задача с предысторией, процессом решения и измеримым результатом.</p>
            </blockquote>
            <figcaption class="blockquote-footer">®portfolio-case 2026.</figcaption>
        </figure>
    </div>
</div>
